<div class="card">
  <div class="card-header">
    <span>Formulaire d'inscription</span>
  </div>
  <div class="card-body">
    <form>
      <div class="box-input">
        <label for="lastname">Lastname :</label>
        <input type="text" id="lastname" name="lastname" />
        <div class="errors">
          <div>le nom est requis</div>
          <div>Le nom doit comporter au moins 3 caractères</div>
          <div>Le nom ne doit pas dépasser 15 caractères</div>
        </div>
      </div>
      <div class="box-input">
        <label for="firstname">Firstname :</label>
        <input type="text" id="firstname" name="firstname" />
        <div class="errors">
          <div>le prénom est requis</div>
          <div>Le prénom doit comporter au moins 3 caractères</div>
          <div>Le prénom ne doit pas dépasser 15 caractères</div>
        </div>
      </div>
      <div class="box-input">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" />
        <div class="errors">
          <div>l'email est requis</div>
          <div>l'email est invalide</div>
        </div>
      </div>
      <div class="box-input">
        <label for="password">Password :</label>
        <input type="password" id="password" name="password" />
        <div class="errors">
          <div>le mot de passe est requis</div>
        </div>
      </div>
      <div class="button">
        <button type="submit">Inscription</button>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <span>Formulaire d'inscription</span>
  </div>
</div>
