/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
}

h5 {
  text-align: center;
  text-transform: uppercase;
}

.card {
  width: 20rem;
  height: auto;
  margin: 0 auto;

  .content-card {
    width: 100%;
    height: auto;

    .secretInfos {
      opacity: 0;
      margin-top: 1rem;
      margin-left: 1rem;
      transition: opacity 800ms;
    }
  }

  &:hover .secretInfos {
    opacity: 1;
  }

  button {
    margin:0 auto;
    display: block;
  }
}


